<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.WfOrderItemMapper">

    <select id="getWfOrderItemById" resultType="com.zb.pojo.WfOrderItem">
        select
                id as id,
                itemid as itemid,
                orderid as orderid,
                num as num,
                title as title,
                price as price,
                totalfee as totalfee,
                picpath as picpath
        from wf_order_item
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getWfOrderItemListByMap" resultType="com.zb.pojo.WfOrderItem" parameterType="java.util.Map">
        select
                id as id,
                itemid as itemid,
                orderid as orderid,
                num as num,
                title as title,
                price as price,
                totalfee as totalfee,
                picpath as picpath
        from wf_order_item
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="itemid != null and itemid!=''">
                    and itemid=#{itemid}
                </if>
                <if test="orderid != null and orderid!=''">
                    and orderid=#{orderid}
                </if>
                <if test="num != null and num!=''">
                    and num=#{num}
                </if>
                <if test="title != null and title!=''">
                    and title=#{title}
                </if>
                <if test="price != null and price!=''">
                    and price=#{price}
                </if>
                <if test="totalfee != null and totalfee!=''">
                    and totalfee=#{totalfee}
                </if>
                <if test="picpath != null and picpath!=''">
                    and picpath=#{picpath}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getWfOrderItemCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from wf_order_item
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="itemid != null and itemid!=''">
                    and itemid=#{itemid}
                </if>
                <if test="orderid != null and orderid!=''">
                    and orderid=#{orderid}
                </if>
                <if test="num != null and num!=''">
                    and num=#{num}
                </if>
                <if test="title != null and title!=''">
                    and title=#{title}
                </if>
                <if test="price != null and price!=''">
                    and price=#{price}
                </if>
                <if test="totalfee != null and totalfee!=''">
                    and totalfee=#{totalfee}
                </if>
                <if test="picpath != null and picpath!=''">
                    and picpath=#{picpath}
                </if>
        </trim>
    </select>

    <insert id="insertWfOrderItem" parameterType="com.zb.pojo.WfOrderItem">
        insert into wf_order_item(
                        itemid,
                        orderid,
                        num,
                        title,
                        price,
                        totalfee,
                        picpath)
        values(
                     #{itemid},
                     #{orderid},
                     #{num},
                     #{title},
                     #{price},
                     #{totalfee},
                    #{picpath})
    </insert>

    <update id="updateWfOrderItem" parameterType="com.zb.pojo.WfOrderItem">
        update wf_order_item
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="itemid != null and itemid!=''">
                            itemid=#{itemid},
                        </if>
                        <if test="orderid != null and orderid!=''">
                            orderid=#{orderid},
                        </if>
                        <if test="num != null and num!=''">
                            num=#{num},
                        </if>
                        <if test="title != null and title!=''">
                            title=#{title},
                        </if>
                        <if test="price != null and price!=''">
                            price=#{price},
                        </if>
                        <if test="totalfee != null and totalfee!=''">
                            totalfee=#{totalfee},
                        </if>
                        <if test="picpath != null and picpath!=''">
                            picpath=#{picpath}
                        </if>
        </trim>
    </update>
</mapper>